html {
    height: 100%;
    width: 100%;
    background-color: rgb(80, 80, 100);
    overflow: scroll;
  }

  .addFile{
    height: auto;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(85, 85, 105);
    color: white;
    transition: scale 200ms;
    scale: 1;
    min-height: 26px;
  }

  .addFile:hover{
    transition: scale 200ms;
    scale: 1.02;
  }

  .submitButton{
    height: auto;
    width: auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(85, 85, 105);
    color: white;
    transition: scale 200ms;
    scale: 1;
  }

  .submitButton:hover{
    transition: scale 200ms;
    scale: 1.02;
  }

  .textField{
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(150, 150, 200, 0.5);
    color: white;
    vertical-align: text-top;
  }

  .dropDown{
    height: auto;
    width: auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(85, 85, 105);
    color: white;
    transition: scale 200ms;
    scale: 1;
  }
  
  .ad{
    height: 15vh;
    width: 15vh;
    background-color: rgba(200, 200, 200, 0.5);
    border: none;
    color: white;
    font-size: 50px;
    text-align: center;
    opacity: 0;
  }
  
  #navBar {
    height: 10vh;
    width: calc(100vw - 0px);
    background-color: rgba(80, 80, 95, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 8vh auto auto 10vh;
  }

  .navbarthing{
    text-decoration-line: none;
    color: white;
  }

  #returnMain{
    display: inline;
    grid-column: 1;
  }
  
  #logo {
    height: 8vh;
    width: auto;
    object-fit: scale-down;
    object-position: 0% 0%;
    padding: 1vh;
    display: inline-block;
  }
  
  #title{
    height: 0px;
    width: 300px;
    display: inline;
    font-weight: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 5vh;
    padding-top: 2vh;
    text-align: center;
    margin-bottom: 0px;
  }
  
  #logoIMG {
    height: 8vh;
    width: auto;
    object-fit: scale-down;
    object-position: 0% 0%;
    display: inline;
  }

  #account{
    height: 8vh;
    width: auto;
    max-width: 300px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
  }

  #UserName{
    height: 0px;
    width: auto;
    display: inline-block;
    font-weight: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 5vh;
    text-align: center;
    margin-bottom: 0px;
    color: white;
  }

  #accountOpti{
    height: auto;
    width: auto;
    display: grid;
    align-content: center;
    grid-template-rows: auto auto;
    margin-left: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    grid-column: 2;
  }

  .accountEdit{
    color: white;
  }
  
  #signLog{
    height: 10vh;
    width: 25vw;
    display: inline-block;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    right: 100px;
    grid-column: 2;
  }
  
  #login {
    height: 4vh;
    width: auto;
    display: inline-block;
    margin: 2vh;
    padding: 1vh;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 3vh;
    border-radius: 2vh;
    color: rgba(255, 255, 255, 1);
    transition: background 400ms;
    background-color: rgba(150, 170, 190, 0.1);
  }
  
  #login:hover{
    transition: background 200ms;
    background-color: rgba(150, 170, 190, 0.3);
  }
  
  
  #signIn {
    text-decoration-line: none;
    height: 4vh;
    width: auto;
    display: inline-block;
    margin: 2vh;
    padding: 1vh;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 1);
    position: absolute;
    font-size: 3vh;
    border-radius: 2vh;
    color: rgba(255, 255, 255, 1);
    transition: background 400ms;
    background-color: rgba(150, 170, 190, 0.1);
  }
  
  #signIn:hover{
    transition: background 200ms;
    background-color: rgba(150, 170, 190, 0.3);
  }
  
  #addSomething{
    height: 5px;
    width: 5px;
    padding-block-start: 5px;
    padding-block-end: 25px;
    padding-inline-start: 15px;
    padding-inline-end: 20px;
    margin: 10px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 1vh;
    border-radius: 1000px;
    transition: background 200ms, scale 200ms;
    background-color: rgba(200, 255, 200, 0.2);
    scale: 1;
    grid-column: 3;
    text-decoration: none;
  }
  
  #addSomething:hover{
    transition: background 200ms, scale 200ms;
    background-color: rgba(200, 255, 200, 0.35);
    scale: 1.05;
  }
  
  
  #whoWeAre{
    margin-top: 10vh;
    padding: 10px;
    height: auto;
    width: 90vw;
    color: rgb(255, 255, 255);
  }
  
  #logoForTitle{
    height: 10vh;
    width: 10vh;
  }
  
  #whoWeAreText{
    height: 10vh;
    width: auto;
    font-size: 10vh;
    font-weight: 5px;
    display: inline-block;
    text-align: middle;
    transform: translateY(-1vh);
  }
  
  #whoWeAreDisc{
    height: auto;
    width: 50vw;
    font-size: 15px;
    padding: 10px;
  }
  
  
  #corSelect{
    width: 90vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
  }
  
  
  
  
  
  .corriculum{
    height: fit-content;
    width: 45vw;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(85, 85, 105);
    color: white;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    margin: 5vh;
    padding: 10px;
  
  }
  
  .classContainer{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    font-weight: normal;
    padding: auto;
  }
  
  .classesDiv{
    height: auto;
    max-height: 100px;
    width: auto;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    column-span: initial;
    transition: background 200ms, border 200ms, scale 200ms;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    scale: 1;
  }
  
  .classesDiv:hover{
    transition: background 200ms, border 200ms, scale 200ms;
    scale: 1.01;
    border: 1px solid white;
    border-bottom: 3px solid rgb(80, 100, 200);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.01);
  }

  .classesDiv:active{
    transition: background 100ms, border 100ms, scale 100ms;
    scale: 0.99;
    border: 1px solid white;
    border-bottom: 3px solid rgb(80, 100, 200);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .className{
    text-decoration: underline rgba(100, 125, 175, 1) solid 3px;
  }
  
  .classDescription{
    font-size: 15px;
  }
  
  
  
  #signUpDiv{
    height: auto;
    width: 70vw;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.1);
    border: 3px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10vh;
    transform: translateY(50px);
  }

  #sUDTitle{
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  #userNamePassword{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  .sUDIsTeacherText{
    height: auto;
    width: 20vw;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size: 25px;
    text-align: center;
  }

  #sUDName{
    color: white;
    display: block;
    height: 25px;
    width: auto;
    transition: border 200ms, background 200ms;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5vw;
    margin-top: 10px;
    margin-bottom: 0vw;
  }

  #sUDName:hover{
    transition: border 200ms, background 200ms;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.001);
  }

  #sUDName:active{
    transition: border 200ms, background 200ms;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
  }

  #sUDPassword{
    color: white;
    display: block;
    height: 25px;
    width: auto;
    transition: border 200ms, background 200ms;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5vw;
    margin-top: 10px;
    margin-bottom: 0vw;
  }

  #sUDPassword:hover{
    transition: border 200ms, background 200ms;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.2);
  }

  #sUDPassword:active{
    transition: border 200ms, background 200ms;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
  }

  #isTeacherDiv{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  #studentIMG{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #teacherDiv{
    height: 25vh;
    width: 30vh;
    transition: scale 200ms, background 200ms, border 200ms;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding-bottom: 5vh;
    font-size: 25px;
  }

  #studentDiv{
    height: 30vh;
    width: 30vh;
    transition: scale 200ms, background 200ms, border 200ms;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-size: 25px;
  }

  .studentandteacherC:hover{
    transition: scale 200ms, background 200ms, border 200ms;
    scale: 1.01;
    background-color: rgba(255, 255, 255, 0);
    border: 3px white solid;
  }

  .studentandteacherC:active{
    transition: scale 200ms, background 200ms, border 200ms;
    scale: 1.02;
    background-color: rgba(255, 255, 255, 0);
    border: 5px white solid;
  }

  #submitSignUp{
    width: 12vh;
    height: 5vh;
    transition: background 200ms;
    background-color: rgba(100, 255, 100, 1);
    border-radius: 10px;
    margin-left: 37vw;
    transform: translate(-12vh);

  }

  #submitLogin{
    width: 12vh;
    height: 5vh;
    transition: background 200ms;
    background-color: rgba(100, 255, 100, 1);
    border-radius: 10px;
    margin-left: 37vw;
    transform: translate(-12vh);

  }

#loggedOut{
  height: 50vh;
  width: 70vw;
  z-index: 0;
  box-sizing: border-box;
  background-color: rgba(85, 85, 105, 0);
  padding: 10px;
  font-size: 40px;
  color: white;
  margin-top: 20px;
  position: absolute;
  left: 15vw;
  transition: scale 500ms, top 500ms;
  scale: 1;
  top: -50vh;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}

#loCool{
  font-size: 45px;
  font-weight: bold;
  display: inline;
}

#deleteButton{
  height: 20px;
  width: 50px;
  color: black;
  transition: background 200ms, border 200ms, scale 200ms;
  background-color: rgba(255, 0, 0, 1);
  border: 1px solid black;
  scale: 1;
  border-radius: 5px;
}

#deleteButton:hover{
  transition: background 200ms, border 200ms, scale 200ms;
  background-color: rgba(200, 0, 0, 1);
  border: 2px solid black;
  scale: 1.1;
  border-radius: 5px;
}

#typeSelect{
  height: fit-content;
  width: 30vw;
  box-sizing: border-box;
  margin-top: 20vh;
  margin-left: 35vw;
  transform: translateY(25px);
  color: white;
  font-size: 20px;
  font-weight: normal;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  grid-auto-flow: row;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(85, 85, 105, 1);
  border: 1px solid white;
  border-radius: 10px;
  grid-column: 1/3;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  visibility: visible;
}

#typeSelectFormTtle{
  height: auto;
  width: auto;
  color: white;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(200, 200, 200, 0);
  transition: border 200ms;
  border-left: 10px solid blue;
  border-top-left-radius: 10px;
}

.TSLabel{
  height: auto;
  width: auto;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  margin: 10px;
  column-span: initial;
  transition: background 200ms, border 200ms, scale 200ms;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  scale: 1;
}

.TSLabel:hover{
  transition: background 200ms, border 200ms, scale 200ms;
  border: 1px solid white;
  border-bottom: 1px solid blue;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  scale: 1.02;
}

.TSLabel:active{
  transition: background 200ms, border 200ms, scale 200ms;
  border: 1px solid white;
  border-bottom: 1px solid blue;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  scale: 0.98;
}

#submitTypeB{
  height: auto;
  width: auto;
  color: white;
  grid-column: 1/3;
  margin-left: 10px;
  margin-right: 10px;
  transition: scale 200ms, border 200ms, background 200ms;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(85, 85, 105, 0.1);
  scale: 1;
}

#submitTypeB:hover{
  transition: scale 200ms, border 200ms, background 200ms;
  border-bottom: 1px solid blue;
  border-radius: 5px;
  background-color: rgba(85, 85, 105, 0.2);
  scale: 1.02;
}

#submitTypeB:active{
  transition: scale 200ms, border 200ms, background 200ms;
  border-bottom: 1px solid blue;
  border-radius: 5px;
  background-color: rgba(85, 85, 105, 0.5);
  scale: 0.98;
}

.addNewSmallDiv{
  border: 1px solid white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  width: fit-content;
  height: 25vh;
  margin-top: 15px;
  overflow: scroll;
}

.AddNewBackground{
  height: fit-content;
  width: fit-content;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto;
  grid-auto-flow: row;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px; 
  color: white;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  transition: scale 200ms, background 200ms, margin 200ms, transform 200ms, visibility 200ms;
  transform: translateY(-100vh);
  margin-top: 0vh;
  margin-left: 35vw;
  background-color: rgba(85, 85, 105, 0);
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}

#ANBTitle{
  grid-column: 1/3;
  font-weight: bolder;
  text-align: center;
}

#courseAddName{
  display: grid;
  grid-template-rows: auto auto;
  justify-content: left;
  grid-row-gap: 5px;
}

#termsOfSubmition{
  height: 30vh;
  width: 30vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px; 
  color: white;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  transition: scale 200ms, background 200ms, margin 200ms, transform 200ms, visibility 200ms;
  margin-top: 10vh;
  margin-left: 35vw;
  background-color: rgba(85, 85, 105, 1);
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  visibility: visible;
  transform: translateY(-20px);
}

#termsTitle{
  border-bottom: 1px solid white;
  border-radius: 0px;
}

#termsOfSubmitionText{
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  overflow: scroll;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgb(60, 60, 60);
}

#agreeCLabel{
  width: auto;
  height: auto;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(10, 150, 10, 0.1);
  padding: 0%;
  margin-left: 10px;
  margin-right: 10px;
}

#agreeCLabel:active{
  transition: scale 50ms;
  scale: 0.99;
}





/* CoursePage */
/* -------------------------------------------------------------------------------------------------------------------------------- */

.iconKey{
  width: 99vw;
  display: grid;
  text-align: center;
  margin-top: 10vh;
  box-sizing: border-box;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  grid-column-gap: 30px;
  color: black;
}



.courseRHolder{
  margin-top: 10vh;
  height: 100%;
  width: 80vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  font-weight: normal;
  padding-left: 9.5vw;
  padding-right: 9.5vw;
  justify-content: space-evenly;
}

.courseResource{
  height: auto;
  max-height: 100px;
  width: fit-content;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  column-span: initial;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 55px auto auto;
  grid-gap: 10px;
  font-weight: normal;
  padding: auto;
  transition: background 200ms, border 200ms, scale 200ms;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  scale: 1;
}

.courseResource:hover{
  transition: background 200ms, border 200ms, scale 200ms;
  border-bottom: 3px solid rgb(80, 100, 200);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  scale: 1.01;
}

.courseResource:active{
  transition: background 100ms, border 100ms, scale 100ms;
  border-bottom: 1px solid rgb(80, 100, 200);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  scale: 0.99;
}

.courseRIMG{
  display: block;
  margin: auto;
  padding: auto;
  object-fit: cover;
  height: 50px;
  width: 50px;
  color: white;
  background-color: none;
  text-emphasis-color: white;
}

.courseRText{
  min-width: 100px;
  width: auto;
  text-align: left;
}

.courseRName{
  font-weight: bold;
  font-size: 25px;
}

.courseRDesc{
  font-size: 15px;
}

.courseRLDR{
  width: fit-content;
  font-weight: bold;
  font-size: 40px;
}


.courseTitle{
  margin-top: 10vh;
  padding: 10px;
  padding-top: 30px;
  font-size: 70px;
  width: 99vw;
  box-sizing: border-box;
  height: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: underline rgb(80, 100, 200) solid;
}

.courseDescText{
  margin-top: 0vh;
  padding: 10px;
  padding-top: 10px;
  margin-top: 10vh;
  box-sizing: border-box;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 20px;
  width: 99vw;
  box-sizing: border-box;
  height: fit-content;
  color: white;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  overflow: scroll;
}


/* FilePage.php */
/* -------------------------------------------------------------------------------------------------------------------------------- */

.filePageHeader{
  height: fit-content;
  min-height: 50vh;
  width: 70vw;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  border-top: none;
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 10px;
  margin-bottom: 100vh;
}

.filePageTitle{
  width: fit-content;
  height: 90%;
  padding: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-right: 5px solid rgb(255, 255, 255);
  align-self: center;
  font-size: 70px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.01), transparent 95%);
  margin-right: 20px;
}

.filePageDesc{
  width: fit-content;
  height: 90%;
  padding: 10px;
  align-self: center;
  font-size: 20px;
}

.roundLCornerDiv{
  height: 50px;
  width: 55px;
  border: 1px solid transparent;
  display: inline-block;
  transform: translate(-62px, -12px);
  border-right: 1px solid rgb(80, 80, 100);
  background-color: rgb(80, 80, 100);
  position: fixed;
  transition: opacity 200ms;
  opacity: 1;
}

.rLCCover{
  height: 100%;
  width: 50px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-top-right-radius: 50px;
  background-color: transparent;
}

.roundRCornerDiv{
  height: 50px;
  width: 60px;
  border: 1px solid transparent;
  display: inline-block;
  right: 15vw;
  transform: translate(63px, -12px);
  border-left: 1px solid rgb(80, 80, 100);
  background-color: rgb(80, 80, 100);
  position: fixed;
  margin: none;
  transition: opacity 200ms;
  opacity: 1;
}

.rRCCover{
  height: 100%;
  width: 50px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-top-left-radius: 50px;
  background-color: transparent;
  transform: translateX(5px);
}






/* Footer.php */
/* -------------------------------------------------------------------------------------------------------------------------------- */
.footerDiv{
  width: 99vw;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  grid-gap: 10px;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgba(10, 150, 10, 0.1);
  font-size: 12px;
}

.footerClick{
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  padding: 3px;
  color: white;
  transition: scale 200ms, background 200ms, border 200ms;
  border: 0px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  scale: 1;
}

.footerClick:hover{
  transition: scale 200ms, background 200ms, border 200ms;
  border: 0px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  scale: 1.01;
}

/* AboutUs.php */
/* -------------------------------------------------------------------------------------------------------------------------------- */
.DevsDiv{
  width: 99vw;
  margin-top: 100px;
  padding-left: 5vw;
  padding-right: 5vw;
  height: fit-content;
  box-sizing: border-box;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: row;
  grid-gap: 10px;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgba(70, 70, 90, 0.8);
  font-size: 12px;
  object-fit: cover;
}

.devDiv{
  width: 15vw;
  height: fit-content;
  color: white;
  padding: 10px;
  object-fit: cover;
}

.devIMG{
  height: 200px;
  width: 200px;
  object-position: 50% 45%;
  object-fit: none;
}

.devDesc{
  text-align: center;
}

.devPos{
  font-size: 25px;
  text-decoration: underline solid rgb(80, 100, 200);
  text-align: center;
}



/* ContactUs.php */
/* -------------------------------------------------------------------------------------------------------------------------------- */
#contactUsForm{
  height: 70vmin;
  width: 90vmin;
  min-height: fit-content;
  box-sizing: border-box;
  margin: auto;
  margin-top: 11vh;
  border: 1px dashed gray;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 20px;
  padding: 20px;
}

.emailDiv{
  width: auto;
  height: 90%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.emailSubject{
  height: 50px;
  width: auto;
  box-sizing: border-box;
  padding: none;
  border-bottom: 1px solid white;
  margin: none;
}

.emailBody{
  height: calc(100% - 50px);
  width: auto;
  box-sizing: border-box;
  padding: none;
  padding-top: 1px;
  border-bottom: none;
  margin: none;
}

.emailTestField[type=text]{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  border: none;
  border-radius: none;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  transition: box-shadow 300ms;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.emailTestField[type=text]:focus{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  outline: none;
  border: 1px solid transparent;
  border-radius: none;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  transition: box-shadow 300ms;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1);
}

#emailSubjectText{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#emailBodyText{
  height: 100%;
  font-weight: normal;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  resize: none;
}

#emailSend{
  width: 10%;
  box-sizing: border-box;
  margin: 5px;
  margin-left: 90%;
  transform: translate(-3px, -40px);
}